@import url("sp://import/css/adam.css");
@import url("sp://import/css/api.css");

* {
	margin  : 0;
	padding : 0;
}

html {
	background : url(background.png);
}

body {
	background : transparent;
}

@-webkit-keyframes kick {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1080deg);
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

#cover {
	position          : fixed;
	left              : 50%;
	top               : 50%;
	margin            : -148px 0px 0px -148px;
	width             : 296px;
	height            : 296px;
	border-radius     : 148px;
	background-repeat : no-repeat;
	background-size   : 300px 300px;
	font-size         : 16px;
	font-weight       : bold;
	color             : #86b410;
	text-shadow       : rgba(184, 255, 145, 1) 0px 0px 25px;
	text-align        : center;
	line-height       : 296px;
}

#canvas {
	position : fixed;
	left     : 50%;
	top      : 50%;
	margin   : -210px 0px 0px -210px;
	width    : 420px;
	height   : 420px;
}

#canvas.animation-kick {
	-webkit-animation: kick 2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

#canvas.animation-rotate {
	-webkit-animation: rotate 15s linear infinite;
}

#credit {
	position   : fixed;
	bottom     : 0px;
	width      : 100%;
	padding    : 10px;
	text-align : center;
}

#credit, #credit a {
	color      : #555555;
	font-size  : 10px;
	text-shadow: rgba(0, 0, 0, 1) 0px 1px 2px;

}
